html  {
  font-size: 16px;

}

body  {
   
}

header  {
  position: relative;
  z-index: 200; 
}

.Header {
  height: 3rem;
  background: linear-gradient(-90deg, black, grey);
}

.Header-left {
  font-size: 2rem;
  font-family: 'Righteous', cursive;
  color: #741818;
  width: 100% ;
  display: flex;
  justify-content: flex-start ;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: row;
  padding: 0.25rem;
}
